.wrapper{
    background-image: url(thailand.jpeg);
    background-size: cover;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin-top: 50px;
}
h1{
    color: brown;
    padding-top: 170px;
}
h2{
    color: brown;
}
